.loading {
  width: fit-content;
  margin: 2rem auto;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--blue);
}

.rates {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 0.5rem;
  padding: 2rem 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: var(--white);
}
